{% extends "padre.html" %}

{% load static %}


{% block contenido %}

   <div class="container">
        <div class="row">
            <div class="col-12  col-md-4">
                <div class="card">
                    <img src="{{ url }}" alt="avatar"class="img-thumbnail"/>
                    <div class="card-body">  
                        <h5 class="card-title">{{usuario}}</h5>         
                        <a href="{% url 'EditarPerfil' %}" class="btn btn-outline-warning btn-sm">Editar</a>
                    </div>
                </div>    
            </div>
        </div>
    </div>

{% endblock %}
